/* Colors */
$herd: #fb8d34;
$dist: #ff512e;
$feed: #8ED081;
$vet: #158b96;

$green: #0dad68;
$red: #d44d5c;
$yellow: #f6b91d;

/*  */
$error: $red;
$success: $green;

$mainBlack: #0A0908;
$elBackground: #f0f0f0;

$male: #27aae1;
$female: #ee2a7b;